/*======================================
		Footer-Part Section Start
======================================*/
.footer-part {
    background: var(--primary);
    padding: 50px 0;
}
.footer-part .container{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.footer-part .company-info p {
    color: #ffffff;
    font-size: 14px;
    
    margin-top: 30px;
}
.footer-part .company-info span {
    color: #ffffff;
    display: block;
    font-size: 14px;
    
    margin-top: 30px;
}
.footer-part .company-info i {
    margin-top: 30px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    color: var(--primary);
	transition: .6s;
	font-size: 23px;
	cursor: pointer;
}
.footer-part .company-info i:hover{
    background: #fbaa33;
    color: #fff;
}
.footer-part .quick-links h3 {
     color: #ffffff;
	margin-top: 48px;
	font-weight: 700;
	font-size: 20px;
    
    margin-bottom: 47px;
}
.footer-part .quick-links p {
    
	font-size: 14px;
	padding-bottom: 5px !important;
    margin-left: 5px;
     color: #ffffff;
	 transition: 0.4s;
	 cursor: pointer;
}
.footer-part .quick-links p:hover{
	color: #fbaa33;
}
.footer-part .quick-links p {
    
	font-size: 14px;
	padding-bottom: 5px !important;
    margin-left: 5px;
	 color: #ffffff;
	 transition: 0.4s;
	 cursor: pointer;
}
.footer-part .quick-links p:hover{
	color: #fbaa33;
}
.footer-part .quick-links .g{
    margin-top: 119px;
}
.footer-part .contact-part h4{
     color: #ffffff;
    margin-top: 47px;
    font-size: 20px;
    
    margin-bottom: 47px;
    font-weight: 700;
}
.footer-part  .contact .location p{
    font-size: 15px;
    color: #fff;
}
.footer-part  .contact .location{
	margin-bottom: 15px;
}
.footer-part  .contact .location1{
	margin-bottom: 15px;
}
.footer-part  .contact .location i {
    font-size: 20px;
    color: var(--primary);
    background: #ffffff;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: .6s;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.footer-part  .contact .location i:hover{
    background: #fbaa33;
    color: #fff;
}
.footer-part  .contact .location p .enve{
    font-size: 20px;
}
.footer-part  .contact .location .phone i{
    transform: rotate(-100deg);
}
.footer-part  .contact .location .text .title{
	color: #fbaa33;
	font-family: 'Arimo';
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 3px;
	text-align: left !important;
	text-transform: uppercase;
}
.footer-part .company-info .img{
    width: 80px;
    height: 60px;
}
/*======================================
		Footer-Part Section End
======================================*/
/*======================================
		Footer_Plugin Section Start
======================================*/
.footer_plugin .common{
	position: relative;
	height: 100%;
	width: 100%;
}
.footer_plugin .common img{
	height: 100%;
	width: 100%;
}
.footer_plugin .common .overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.footer_plugin .common .overlay p{
	background: #ffffff;
	padding: 10px 20px;
	font-weight: 400;
	font-size: 15px;
	color: var(--primary);
	
	text-transform: capitalize;
	margin: 0 auto;
	width: 158px;
	/* width: 59%; */
	opacity: 0;
	transition: 0.4s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.footer_plugin .common:hover p{
	opacity: 1;
	cursor: pointer;
}
.footer_plugin .common p:hover{
	background: #fbaa33;
	color: #ffffff;
}
/*======================================
		Footer_Plugin Section End
======================================*/
/*======================================
		Copyright Section Start
======================================*/
.copyright{
	background: var(--primary);
	text-align: center;
	color: #fff;
	padding: 10px 0;
}
.copyright span{
	color: #fbaa33;
}
/*======================================
		Copyright Section End
======================================*/