
/*======================================
			Nav Bar Section Start
======================================*/
.nav{
	padding: 23px 0 35px 0;
	background: #f8f9fa;
}
.nav .logo{
	width: 40%;
	margin-top: 5px;
}
.nav .logo .logo-img{
	width: 200px;
	height: 80px;
}
.nav .navbar-ad{
	width: 60%;
}
.nav .navbar-ad .img{
	height: 100px;
	width: 100%;
}
.nav .btn{
	margin-left: 30px;
	display: flex;
	align-items: center;
	width: 20%;
	justify-content: flex-end;
	padding: 0 !important;
	border: 0 !important;
	border-radius: 0 !important;
}
.nav .btn a{
	display: inline-block;
	color: #ffffff;
	background: #2d3e50;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Arimo', sans-serif;
	padding: 10px 20px;
	border-radius: 6px;
	margin-top: 20px;
	transition: .4s;
}
.nav .btn a:hover{
	background: #fbaa33;
}
/*======================================
			.nav Bar Section End
======================================*/
.navbar{
	background-color: #d31e20 !important;
}
.navbar .dropdown{
	position: relative;
}
.navbar .dropdown .dropdown-menu{
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 99;
	background-color: #d31e20 !important;
	display: none;
}
.navbar .dropdown:hover .dropdown-menu{
	display: block;
}