/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Common Slick Slider Arrow CSS */
.slick-arrow{
	display: inline-block;
	cursor: pointer;
	padding: 10px;
    position: absolute;
	top: 52%;
    z-index: 1;
	transform: translateY(-50%);
}
.slick-arrow i{
    text-align: center;
	font-size: 60px;
	line-height: 75px;
	font-weight: 300;
    color: #353535;
    border-radius: 50%;
	background: transparent;
	transition: 0.4s;
}
.first_arrow{
	left: -6%;
}
.last_arrow{
	right: -6%;
}
.slick-arrow:hover i{
	background: transparent;
	color: #fbaa33;
}
.slick-arrow::after{
	content: "";
    width: 74px;
    height: 1px;
    background: #353535;
    position: absolute;
    left: -17px;
    top: 18px;
    transition: 0.4s;
}
.slick-arrow::before{
	content: "";
    width: 74px;
    height: 1px;
    background: #353535;
    position: absolute;
    right: -16px;
    bottom: 18px;
    transition: 0.4s;
}
.slick-arrow:hover::after{
	background: #ffca36;
}
.slick-arrow:hover::before{
	background: #ffca36;
}
.slick-arrow li::after{
	content: "";
    width: 1px;
    height: 73px;
    background: #353535;
    position: absolute;
    left: -8px;
    top: 11px;
    transition: 0.4s;
}
.slick-arrow li::before{
	content: "";
    width: 1px;
    height: 73px;
    background: #353535;
    position: absolute;
    right: -8px;
    bottom: 12px;
    transition: 0.4s;
}
.slick-arrow:hover li::after{
	background: #ffca36;
}
.slick-arrow:hover li::before{
	background: #ffca36;
}